div{
    margin: 100px;
    background-color: aquamarine;
    width: 400px;
    height: 150px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px;
    border-color: black;
}
a{
    text-decoration: none;
    color: black;
}